body {
    background-color:  #34801d;
    background-image:url(../IMG/mines.png);
    background-size: cover;
    color:rgb(0, 0, 0);
    text-align: center;
    position:relative;
}

.cell {
    width:50px; 
    height:50px;
    text-align: center
}

.shown {
    background-color: lightslategray;
}

.button {
    height: 30px;
    border-color: black;
    border-radius: 5px;
    border: 3px solid;
    position: relative;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    background-color: lightslategray;
}

.start {
    display:flex;
    flex-direction:inherit;
    width: 610px;
    height: auto;
    /* margin: auto; */
}

.body {
    display: flex;
}

form {
    position: absolute;
    top:800px;
    right: 20px;
    width: 100%;
    margin: 10px;
  text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-align: bottom;
}

.game {
    display: flex;
    flex-direction: column;
    
}
.game-header {
    display: flex;
    justify-content: space-around;
    
}
.board {
    border:20px;
    width: auto;
    height: auto;
    margin: auto;
}

img {
    width: 30px;
    height: 30px;
}

.table-head {
    height: 60px;
    background-color: rgba(10, 0, 0, 0.671);
} 

td {
    background-color: rgb(27, 26, 26);
    text-align: center;
    width: 30px;
    height: 30px;
}

table {
    border: 100px;
    color: black;
    margin-left: center; 
}

h2 {
    margin: 0 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
}

.mines-container, .clock-container {
    display: flex;
    width: 65px;
    height: 25px;
    border: 3px solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size:x-large;
    font-weight: bolder;
    background-color: lightslategray;
}